@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">GIA DỤNG & ĐỜI SỐNG</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">SỨC KHỎE & LÀM ĐẸP</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">ME & BÉ</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">THỰC PHẨM</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">BÁCH HÓA</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container mt-4">
    <h2 class="text-center text-opacity-50">Danh Sách Sản Phẩm</h2>

    <!-- Danh sách sản phẩm -->
    <div class="row">
        <!-- Sản phẩm 1 -->
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="https://product.hstatic.net/1000360437/product/4-510x510_6762eafda5854bb38c7a254cf8d9ce1a_master.png" class="card-img-top" alt="Product 1 Image">
                <div class="card-body">
                    <h5 class="card-title">CordyPro</h5>
                    <p class="card-text">Thực phẩm bảo vệ sức khỏe Cordypro</p>
                    <p class="text-danger"> 480,000</p>
                </div>
            </div>
        </div>

        <!-- Sản phẩm 2 -->
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="https://product.hstatic.net/1000360437/product/probiotic-510x510_64789b7d3ab94f0dba89d4d54210923c_master.jpg" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-4">
            <div class="card">
                <img src="link-to-product-image-2" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4  p-4">
            <div class="card">
                <img src="link-to-product-image-2" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4  p-4">
            <div class="card">
                <img src="link-to-product-image-2" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="link-to-product-image-2" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="link-to-product-image-2" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="link-to-product-image-2" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="link-to-product-image-2" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="link-to-product-image-2" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="link-to-product-image-2" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="link-to-product-image-2" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="link-to-product-image-2" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="link-to-product-image-2" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="link-to-product-image-2" class="card-img-top" alt="Product 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Tên Sản Phẩm 2</h5>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2.</p>
                </div>
            </div>
        </div>
    </div>
</div>



